<body>
    <div id="container" class="page_body">
      <div id="header">
        <div class="banner">
          <img src="https://appvicedoce.udea.edu.co/img/Banner_Pagina_concursoDocente.png" alt="" />
        </div>
  
        <div id="menu">
          <ul>
            <li class="esconder"><a href="/members/login">Identificarse</a></li>
  
            <li class="esconder"><a href="/pages/normativa">Normativa</a></li>
            <li class="esconder"><a href="/pages/cronograma">Cronograma</a></li>
            <li class="esconder"><a href="/pages/tutelas">Tutelas</a></li>
            <li class="esconder"><a href="/pages/planes">Planes de acción</a></li>
            <li class="esconder">
              <a href="/pages/recursos">Recursos de reposición</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="normativa">
          <h2>Normativa y novedades</h2>
  
          <button class="accordion">
            <span>Normativa general</span>
            <img src="/img/viewIcon.png" alt="Ver" title="Ver" />
          </button>
          <div class="panel" style="display: none">
            <ul>
              <li>
                <a
                  href="/files/normativa/Acuerdo Superior 395 de 2011.pdf"
                  target="_blank"
                  >Acuerdo Superior 395 del 21 de junio de 2011</a
                >
                <p style="text-align: justify">
                  Por el cual se reglamenta el conflicto de intereses del servidor
                  público en la Universidad de Antioquia.
                </p>
              </li>
  
              <li>
                <a
                  href="/files/normativa/Acuerdo Superior 377 de 2010.pdf"
                  target="_blank"
                  >Acuerdo Superior 377 del 27 de abril de 2010</a
                >
  
                <p style="text-align: justify">
                  Por el cual se modifica el literal b. del artículo 2 del Acuerdo
                  Superior 342 del 30 de octubre de 2007, por el cual se
                  establecen los principios y los criterios generales para la
                  selección de los profesores de la Universidad de Antioquia, y se
                  reglamenta el concurso público de méritos para la carrera
                  docente.
                </p>
              </li>
  
              <li>
                <a
                  href="/files/normativa/Acuerdo Superior 342 de 2007.pdf"
                  target="_blank"
                  >Acuerdo Superior 342 del 30 de octubre de 2007</a
                >
  
                <p style="text-align: justify">
                  Por el cual se establecen los principios y los criterios
                  generales para la selección de los profesores de la Universidad
                  de Antioquia, y se reglamenta el concurso público de méritos
                  para la carrera docente.
                </p>
              </li>
  
              <li>
                <a
                  href="/files/normativa/AcuerdoSuperior237de2002.pdf"
                  target="_blank"
                  >Acuerdo Superior 237 del 19 de noviembre de 2002</a
                >
  
                <p style="text-align: justify">
                  Por el cual se reglamenta la aplicación del Decreto 1279 del 19
                  de junio de 2002.
                </p>
              </li>
              <li>
                <a
                  href="/files/normativa/Ley 1952 de 2019 - Gestor Normativo - Función Pública.pdf"
                  target="_blank"
                  >Ley 1952 de 2019</a
                >
  
                <p style="text-align: justify">
                  Por medio de la cual se expide el código general disciplinario,
                  se derogan la ley 734 de 2002 y algunas disposiciones de la ley
                  1474 de 2011, relacionadas con el derecho disciplinario.
                </p>
              </li>
  
              <li>
                <a href="/files/normativa/D1279.pdf" target="_blank"
                  >Decreto 1279 del 19 de junio de 2002</a
                >
  
                <p style="text-align: justify">
                  Por el cual se establece el régimen salarial y prestacional de
                  los docentes de las Universidades Estatales.
                </p>
              </li>
  
              <li>
                <a
                  href="/files/normativa/Estatuto Profesoral Acuerdo Superior 083 de 1996.pdf"
                  target="_blank"
                  >Acuerdo Superior 083 de 1996</a
                >
  
                <p style="text-align: justify">
                  Por el cual se expide el estatuto profesoral de la Universidad
                  de Antioquia.
                </p>
              </li>
              <li>
                <a
                  href="/files/normativa/EstatutoGeneralAcuerdoSuperior1de1994.pdf"
                  target="_blank"
                  >Estatuto General Acuerdo Superior 1 de 1994</a
                >
  
                <p style="text-align: justify">
                  Por el cual se expide el Estatuto General de la Universidad de
                  Antioquia.
                </p>
              </li>
              <li>
                <a href="/files/normativa/Ley30.pdf" target="_blank"
                  >Ley 30 de 1992</a
                >
  
                <p style="text-align: justify">
                  Por la cual se organiza el servicio público de la Educación
                  Superior en Colombia.
                </p>
              </li>
            </ul>
          </div>
  
          <button class="accordion">
            <span>Normativa específica (Concurso 2022)</span>
            <img src="/img/viewIcon.png" alt="Ver" title="Ver" />
          </button>
          <div class="panel" style="display: none">
            <ul>
              <li>
                <a
                  href="/files/normativa/Resolución Rectoral 49348 de 2022.pdf"
                  target="_blank"
                  >Resolución Rectoral 49348 del 26 de septiembre de 2022</a
                >
                <label>
                  Por la cual se convoca a un concurso público de méritos
                  "Concurso profesoral 2022".
                </label>
                <ul>
                  <li>
                    <a
                      href="/files/normativa/Anexo 1. Perfiles del Concurso profesoral 2022.pdf"
                      target="_blank"
                      >Anexo 1</a
                    >
                    Perfiles del Concurso profesoral 2022
                  </li>
                  <li>
                    <a
                      href="/files/normativa/Anexo 2. Evaluación hoja de vida.pdf"
                      target="_blank"
                      >Anexo 2</a
                    >
                    Evaluación hoja de vida
                  </li>
                  <li>
                    <a href="/files/normativa/Anexo 3.docx" target="_blank"
                      >Anexo 3</a
                    >
                    Propuesta de aporte y capacidad de integración al programa o
                    área académica y a la Universidad de Antioquia
                  </li>
                </ul>
              </li>
              <li>
                <a href="/files/normativa/Etapa2.pdf" target="_blank"
                  >Guía de inscripción - Participantes del Concurso Profesoral
                  2022</a
                >
                <label>
                  Aquí encontrará las instrucciones para preinscribirse, ingresar
                  al aplicativo e inscribirse en la etapa 2 “Inscripción y carga
                  de la documentación o información” del
                  <span style="font-style: italic">
                    Concurso profesoral 2022.</span
                  >
                  <br />
                  <a
                    href="https://www.youtube.com/watch?v=pcuHyGx_rOU"
                    target="_blank"
                    >Video tutorial</a
                  >
                </label>
              </li>
            </ul>
          </div>
  
          <button class="accordion">
            <span>Novedades</span>
            <img src="/img/viewIcon.png" alt="Ver" title="Ver" />
          </button>
          <div class="panel" style="display: none">
            <ul>
              <li>
                <a
                  href="/files/normativa/Resolución Rectoral 49581.pdf"
                  target="_blank"
                  >Resolución Rectoral 49581 del 13 de diciembre de 2022</a
                >
                <label
                  >Por la cual se integran y designan las comisiones que se
                  encargarán de revisar las hojas de vida de los aspirantes
                  inscritos y la documentación recibida en el concurso público de
                  méritos “Concurso profesoral 2022”</label
                >
              </li>
              <li>
                <a href="/files/normativa/RR 49730.pdf" target="_blank"
                  >Resolución Rectoral 49730 del 26 de enero de 2023</a
                >
                <label
                  >Por la cual se modifica la Resolución Rectoral 49581 del 13 de
                  diciembre de 2022, que integra y designa las comisiones que se
                  encargarán de revisar las hojas de vida y documentación de los
                  aspirantes inscritos en el concurso público de méritos “Concurso
                  profesoral 2022”</label
                >
              </li>
              <li>
                <a
                  href="/files/normativa/Resolución_VD_15212_Preseleccionados_No_Preseleccionados.pdf"
                  target="_blank"
                  >Resolución de Vicerrectoría de Docencia 15212 del 3 de marzo de
                  2023</a
                >
                <label
                  >Por la cual se publican los resultados de la verificación del
                  cumplimiento de los requisitos mínimos de participación
                  establecidos en los perfiles definidos para el Concurso Público
                  de Méritos, “Concurso Profesoral 2022” de la Universidad de
                  Antioquia.</label
                >
              </li>
              <li>
                <a
                  href="/files/normativa/RVD 15225_Modifica_RVD_15212_Preseleccionados_No_Preseleccionados (1).pdf"
                  target="_blank"
                  >Resolución de Vicerrectoría de Docencia 15225 del 03 de marzo
                  de 2023</a
                >
                <label
                  >Por la cual se modifica la Resolución de Vicerrectoría de
                  Docencia 15212 del 03 de marzo de 2023, que publica los
                  resultados de la verificación del cumplimiento de los requisitos
                  mínimos de participación establecidos en los perfiles definidos
                  para el Concurso Público de Méritos, “Concurso Profesoral 2022”
                  de la Universidad de Antioquia.</label
                >
              </li>
            </ul>
          </div>
  
          <button class="accordion" id="last">
            <span>Lengua extranjera</span>
            <img src="/img/viewIcon.png" alt="Ver" title="Ver" />
          </button>
          <div class="panel" style="display: none">
            <ul>
              <li>
                <a
                  href="/files/normativa/Lengua/Resolución Rectoral 48986.pdf"
                  target="_blank"
                  >Resolución Rectoral 48986 del 08 de junio de 2022</a
                >
  
                <p style="text-align: justify">
                  Por la cual se reglamenta la certificación de competencia en
                  lengua extranjera y segunda lengua como uno de los requisitos
                  del Concurso Público de Méritos para la vinculación de
                  profesores a la Universidad de Antioquia y se sustituye la
                  Resolución Rectoral 46357 del 18 de octubre de 2019.
                </p>
              </li>
              <li>
                <a
                  href="/files/normativa/CIRCULAR 003 - Cronograma de Pruebas  Concurso Docente 2022.pdf"
                  target="_blank"
                  >Cronograma de pruebas para evaluar la competencia comunicativa
                  en lengua extranjera en el marco del Concurso Público de
                  Méritos</a
                >
                <label>
                  <p style="text-align: justify">
                    Escuela de Idiomas de la Universidad de Antioquia.
                  </p>
                </label>
              </li>
              <li>
                <a href="/files/normativa/CC-B1.pdf" target="_blank"
                  >Examen Competencia Comunicativa B1</a
                >
                <label>
                  <p style="text-align: justify">
                    Escuela de Idiomas de la Universidad de Antioquia.
                  </p>
                </label>
              </li>
              <li>
                <a
                  href="/files/normativa/Instructivo y cronograma para la prueba de Competencia Comunicativa en español como lengua extranjera C1.pdf"
                  target="_blank"
                  >Instructivo para la inscripción a la prueba de Competencia
                  Comunicativa en español</a
                >
                <label>
                  <p style="text-align: justify">
                    Facultad de Comunicaciones y Filología Universidad de
                    Antioquia.
                  </p>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <script src="/js/accordion.js"></script>
      </div>
      <div id="footer">
        <p>Vicerrectoría de Docencia</p>
        <p>
          Calle 67 #53-108 - Bloque 16, oficina 332 Medellín (Antioquia) -
          Colombia
        </p>
      </div>
      <div class="contenedorCorreo">
        Dudas o inconvenientes, comuníquese con:
        <a href="mailto:concursoprofesoral@udea.edu.co"
          >concursoprofesoral@udea.edu.co</a
        >
      </div>
    </div>
  </body>
  