<div id="header">
    <div class="banner">
      <img src="https://appvicedoce.udea.edu.co/img/Banner_Pagina_concursoDocente.png" alt="" />
    </div>

    <div id="menu">
      <ul>
        <li class="esconder"><a href="/members/login">Identificarse</a></li>
        <li class="esconder"><a href="/pages/normativa">Normativa</a></li>
        <li class="esconder"><a href="/pages/cronograma">Cronograma</a></li>
        <li class="esconder"><a href="/pages/tutelas">Tutelas</a></li>
        <li class="esconder"><a href="/pages/planes">Planes de acción</a></li>
        <li class="esconder">
          <a href="/pages/recursos">Recursos de reposición</a>
        </li>
      </ul>
    </div>
  </div>
