
#header{
 
 display: block;

}

img {
    width: 100%;

    
}
body {
    margin: 0;
    font-family: Arial,Verdana,sans-serif;
    padding: 0;
}

.menu {
    font-family: Arial,Verdana,sans-serif;
    width: 100%;
    background-color: #00AA6d; 
    height: 64px; 
}

.menu > ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.menu li {
    display:  flex;
    border-right-width: thin;
    border-right-style: ridge;
    border-right-color: white; 
    height: 45px;
    padding: 11px 27.6px;
    margin: 10px 0px;
}


.menu li:last-child {
    border-right: 0px;
    
    
}


.menu li:hover {
    display: flex;
    background: lightgreen;
    height: 64px;
    padding: 21px 29.6px;
    margin: 0px -2px;
    cursor: pointer;
    transition: all 0.1s;
    
    
}

.menu  li > a {
    margin: 0;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    overflow: visible; 

}





@media (max-width:1460px) {
    img{
        display: block;
        width: 100%;
        height: 150px;
    }

    .menu li a{
        display: flex;
        white-space: nowrap;
        text-overflow: ellipsis;
        

        
    }
    
    @media (max-width:809px){
        img{
            display: block;
            width: 809px;
            height: 150px;
        }

        .menu{
            display: block;
            width: 809px;
            text-align: center;
            white-space: nowrap;
            
        }

        .menu li{
            overflow: hidden; 
            text-overflow: ellipsis;
            
        }
    }
    
}

