<div id="header">
  <div class="banner">
    <img
      src="https://appvicedoce.udea.edu.co/img/Banner_Pagina_concursoDocente.png"
      alt="banner"
    />
  </div>
</div>
<nav class="menu">
  <ul>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Identificarse</a></li>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Normativa</a></li>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Cronograma</a></li>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Tutelas</a></li>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Planes de acción</a></li>
    <li ><a href="https://appvicedoce.udea.edu.co/" target="_blank">Recursos de reposición</a>
    </li>
  </ul>
</nav>
